<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django HELLO.COM</title>
</head>
<body>
    <h2>{{ header }}</h2>

    <h3> User info:</h3>
      <p>Name: {{ user.name}}</p>
      <p>Age: {{ user.age}}</p>

    <h3> Address: </h3>
      <p>Street: {{address.0}}</p>
      <p>№ building: {{address.1}}</p>
      <p>Flat: {{address.2}}</p>

    <ul>
      {% for l in langs|slice:"1:3" %}
        <li>{{ l }}</li>
      {% endfor %}
    </ul>
    <p>{{ langs|join:", "}}</p>
</body>
</html>